---
import BentoItem from "./BentoItem.astro";
import BentoBike from "./BentoBike.astro";
import Zap from "./Zap.astro";
import BentoGPS from "./BentoGPS.astro";
import BentoChallenge from "./BentoChallenge.astro";
import BentoBluetooth from "./BentoBluetooth.astro";
import { getI18N } from '../i18n/'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section 
    class="w-full max-w-[1400px]
    grid lg:grid-cols-10 auto-rows-[30rem] gap-4
    mx-auto p-6 md:p-12 lg:p-20"
    >
    <BentoBike class="col-span-10 lg:col-span-7" title={i18n.BIKE_TITLE}>    
        <div
            slot='image'
            class='transition-scale absolute bottom-0 left-0 top-0
                -z-10 h-full w-full bg-[#040404]
                bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110'
            style="background-image: url('/bike.webp');"
        >
        </div>

        <p set:html={i18n.BIKE_DESCRIPTION} slot="content" class="max-w-xl text-base md:text-lg">
            
        </p>
    </BentoBike>

    <BentoGPS class="col-span-10 lg:col-span-3" title={i18n.GPS_TITLE} > 
        <div
            slot='image'
            class='transition-scale absolute bottom-0 left-0 top-0
                -z-10 h-full w-full 
                bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110'
            style="background-image: url('/maps.webp');"
        >
        </div>

         
    </BentoGPS>

    <BentoChallenge class="col-span-10 lg:col-span-3" title={i18n.CHALLENGE_TITLE} >
        <div
            slot='image'
            class='transition-scale absolute bottom-0 left-0 top-0
                -z-10 h-full w-full 
                bg-coontain bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110'
            
        ><Zap/>
        </div>

        
    </BentoChallenge>

    <BentoBluetooth class="col-span-10 lg:col-span-7" title={i18n.BLUETOOTH_TITLE}>
        <div
            slot='image'
            class='transition-scale absolute bottom-0 left-0 top-0
                -z-10 h-full w-full 
                bg-contain bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110'
            style="background-image: url('/Bluetooth.webp'); "
        >
        </div>

    </BentoBluetooth>
    
</section>